name: activity
description: A simple multiplatform State Manager that allows the full power of MVC with ZERO Packages.
version: 1.5.3+5
homepage: https://github.com/itskenzylimon/Activity/blob/main/README.md
repository: https://github.com/itskenzylimon/Activity

environment:
  sdk: '>=2.18.2 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  # this package is used to get the current platform true path
  path_provider: ^2.0.15

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true